*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: grid;
    place-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#quote-box{
    width:20rem ;
    min-height: 20rem;
    border: 2px solid silver;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}
#text{
    width:100%;
    min-height: 15rem;
    border: 2px solid rgb(119, 16, 16);
}
.btn-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
a{
    display: block;
}