*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(195, 162, 255) ;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#drum-machine{
    display: flex;
    gap: 2rem;
    background-color: rgb(156, 117, 228) ;
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    min-width:30rem ;
    box-shadow: .5rem .5rem .3rem rgb(121, 83, 160);
}
.pad-container{
    display: grid;
    grid-template-columns: repeat(3,4rem);
    grid-template-rows: repeat(3,4rem);
   gap: .4rem;
 }
.drum-pad{
    width: 100%;
}
.drum-pad button{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: all 0ms 500ms;
    background-color: rebeccapurple;
}
.drum-pad button:active{
    background: rgb(148, 150, 20);
    color: white;
}
#display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    padding: .5rem;
    border: 2px solid rebeccapurple;
    border-radius: 1rem;
    /* border: 2px solid rgb(98, 0, 255); */
}
#display{
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    min-width:12rem;
    text-align: center;
 background-color: rgb(37, 5, 56);
}